# dependencies
packages/local-client/node_modules
packages/local-client/.eslintcache
packages/local-client/.env

# testing
packages/local-client/coverage

# production
packages/local-client/build
packages/local-client/dist
